@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  /* Eski flex va place-items: center kodi o'chirildi! */
  background-color: #ffffff; /* Oq fon qilish uchun */
  color: #000000;
}

/* Agar Dark mode yoqilgan bo'lsa */
.dark body {
  background-color: #121212;
  color: #ffffff;
}
